<?xml version='1.0' encoding='utf-8'?>
<widget id="com.lildavegoth.homepage" version="1.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>Kakoi Kiraku Home</name>
    <description>Collections of offline web Apps, Games and Tools</description>
    <icon src="icon.png" />
    <content src="index.html" />
</widget>
